.nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px;   
}
.logo{
    width: 10%;
    margin-left: 13em;
    padding: 2.4em;
    display: flex;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    gap: 2px;
    cursor: pointer;
    border-right: solid 2px;
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img{
    width: 1.8em;
    height: 1.2em;
}
.menu{
    width: 70%;
    padding: 2.4em 0em 2.4em 2.4em;
    border-right: solid 2px;
    animation: fadeIn 2s;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle-open{
    display: none;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}

.menu li a::after{
    padding-left: 3em;
    content: "|";
    font-weight: bold;
}

li a:hover {
    font-weight: bold;
}

.icons{
    width: 20%;
    display: flex;
    flex-direction: row;
    padding: 2.4em 0 0 2.5em;
    animation: fadeIn 2s;
}


@media screen and (max-width: 1440px) {
    .logo{
        margin-left: 8em;
    }
    .logo2{
        margin-left: 8em;
    }
}

@media screen and (max-width: 1370px) {
    .logo{
        margin-left: 6em;
    }
    .logo2{
        margin-left: 6em;
    }
}

@media screen and (max-width: 1330px) {
    .logo{
        margin-left: 4em;
    }
    .logo2{
        margin-left: 4em;
    }
}

@media screen and (max-width: 1300px) {
    .logo{
        margin-left: 2em;
    }
    .logo2{
        margin-left: 2em;
    }
}

@media screen and (max-width: 1275px) {
    .logo{
        margin-left: 1em;
    }
    .logo2{
        margin-left: 1em;
    }
}

@media screen and (max-width: 1240px) {
    .icons{
        width: 15%;
    }
}

@media screen and (max-width: 1185px) {
    .menu li a{
        font-size: 0.9em;
    }

    .menu{
        padding: 2.6em 0em 2.4em 1.9em;
    }
}

@media screen and (max-width: 1024px) {                         /*  iPad Pro */
    .menu li a{
        font-size: 0.8em;
    }

    .menu{
        padding: 2.7em 0em 2.4em 1.9em;
    }
    .logo{
        padding: 2.4em 3em 2.4em 1em;
        width: 9em;
    }
    .logo2{
        padding: 2.4em 3em 2.4em 1em;
        width: 9em;
    }
    .icons{
        padding: 2.7em 0 0 1em;
    }
}

@media screen and (max-width: 768px) {                         /*  iPad */
    .menu li a{
        font-size: 0.8em;
        padding-bottom: 1em;
    }

    .icons li a{
        font-size: 0.8em;
        padding-bottom: 1em;
    }

    .menu{
        padding: 2em 0em 2.4em 1.9em;
    }
    .logo{
        padding: 2.4em 5em 2.4em 1em;
    }
    .logo2{
        padding: 2.4em 5em 2.4em 1em;
    }
    .icons{
        padding: 1.8em 0 1.8em 2.5em;
    }
}


@media screen and (max-width: 769px) {                         /*  iPad */

    .logo{
        padding: 2.4em 3em 2.4em 1em;
    }
    .logo2{
        padding: 2.4em 3em 2.4em 1em;
    }

}


@media screen and (max-width: 500px) {                         /*  iPhone X */

    .logo{
        margin-left: 0.5em;
        border-right: 0;
        padding: 2.4em 1em 2.4em 1em;
    }
    .logo2{
        margin-left: 0.5em;
        border-right: 0;
        padding: 2.4em 1em 2.4em 1em;
    }
    .nav{
        position: relative;
        position: fixed;
    }
    .menu{
        position: absolute;
        width: 65vw;
        display: none;
        padding: 0;
        margin: 0;
        z-index: 10;
        border: 0;
        filter: drop-shadow(0 0 0.2rem #b3b3b3);
        top: 3em;
        left: 17vw;
    }
    .menu li{
        width: 9em;
        display: block;
        border-bottom: 1px solid #b3b3b3;
        padding: 1em 3em;
    }
    .menu li a{
        display: block;
        margin-left: 2em;
        padding: 0;
        width: 9em;
    }
    .menu li a::after{
        content: "";
    }
    label{
        width: 10%;
        display: block;
        cursor: pointer;
        text-align: right;
        margin: 0.5em 1em 0 0;
        position: absolute;
        right: 0;
    }
    .ham{
        z-index: 4;
    }
    .cross{
        z-index: 3;
    }
    #toggle-open:checked + .menu{
        display: block;
        margin: 0;
    }
    #toggle-open:checked + .nav{
        opacity: 0.8;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        width: 15em;
        margin: 1em;
    }
    .icons{
        display: none;
    }

}

@media screen and (max-width: 400px) {                         /*  Mobile */

    .menu ul {
        display: flex;
        flex-direction: column;
        width: 14em;
        margin: 1em;
    }

}
@media screen and (max-width: 376px) {                         /*  Mobile */

    .menu ul {
        display: flex;
        flex-direction: column;
        width: 14em;
        margin: 0.5em;
    }

}

@media screen and (max-width: 321px) {                         /*  Mobile */

    .menu ul {
        display: flex;
        flex-direction: column;
        width: 12em;
        margin: 0.5em;
    }
    .menu li {
        width: 9em;
        padding: 1em 1.5em;
    }
}