.nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px;
}
.logo{
    width: 10%;
    margin-left: 13em;
    padding: 2.4em;
    display: flex;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    gap: 2px;
    cursor: pointer;
}
img{
    width: 1.8em;
    height: 1.2em;
}
.menu{
    width: 70%;
    padding: 2.4em 0em 2.4em 2.4em;
    border-left: solid 2px;
    border-right: solid 2px;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}

.menu li a::after{
    padding-left: 3em;
    content: "|";
    font-weight: bold;
}

li a:hover {
    font-weight: bold;
}

.icons{
    width: 20%;
    display: flex;
    flex-direction: row;
    padding: 2.4em 0 0 2.5em;
}


@media screen and (max-width: 1440px) {
    .logo{
        margin-left: 8em;
    }
}

@media screen and (max-width: 1370px) {
    .logo{
        margin-left: 6em;
    }
}

@media screen and (max-width: 1330px) {
    .logo{
        margin-left: 4em;
    }
}

@media screen and (max-width: 1300px) {
    .logo{
        margin-left: 2em;
    }
}

@media screen and (max-width: 1275px) {
    .logo{
        margin-left: 1em;
    }
}

@media screen and (max-width: 1240px) {
    .icons{
        width: 15%;
    }
}

@media screen and (max-width: 1185px) {
    .menu li a{
        font-size: 0.9em;
    }

    .menu{
        padding: 2.6em 0em 2.4em 1.9em;
    }
}

@media screen and (max-width: 1024px) {                         /*  iPad Pro */
    .menu li a{
        font-size: 0.8em;
    }

    .menu{
        padding: 2.7em 0em 2.4em 1.9em;
    }
    .logo{
        padding: 2.4em 3em 2.4em 1em;
    }
    .icons{
        padding: 2.7em 0 0 2.5em;
    }
}

@media screen and (max-width: 768px) {                         /*  iPad */
    .menu li a{
        font-size: 0.8em;
        padding-bottom: 1em;
    }

    .icons li a{
        font-size: 0.8em;
        padding-bottom: 1em;
    }

    .menu{
        padding: 2em 0em 2.4em 1.9em;
    }
    .logo{
        padding: 2.4em 5em 2.4em 1em;
    }
    .icons{
        padding: 1.8em 0 1.8em 2.5em;
    }
}