.nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px;
}
.logo{
    width: 10%;
    margin-left: 13em;
    padding: 2.4em;
    display: flex;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    gap: 2px;
    cursor: pointer;
}
img{
    width: 1.8em;
    height: 1.2em;
}
.menu{
    width: 45%;
    padding: 2.4em 0em 2.4em 2.4em;
    border-left: solid 2px;
    border-right: solid 2px;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}

.menu li a::after{
    padding-left: 3em;
    content: "|";
    font-weight: bold;
}

li a:hover {
    font-weight: bold;
}

.icons{
    width: 20%;
    display: flex;
    flex-direction: row;
    padding: 2.4em 2.4em 0 2.5em;
}
