*{
    margin: 0;
    padding: 0;
    background-color: #fff2ea;
    scroll-behavior: smooth;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 80%;
    padding-top: 8em;
    margin: 0 14vw;
}

.people{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 80%;
    padding-top: 4em;
    margin: 0 14vw;
}

@media screen and (max-width: 1367px) {

    .techs{
        gap: 0;
    }
    .people{
        gap: 3em;
    }
}

@media screen and (max-width: 769px) {                         /*  iPad */

    .techs{
        margin: 0 10vw;
    }

    .people{
        margin: 0 12vw;
        gap: 6em;
    }
}


@media screen and (max-width: 500px) {                         /*  iPhone X */


    .techs {
        width: 65%;
        padding-top: 2em;
        margin: 0 18vw;
        padding-bottom: 2em;
    }

    .people {
        margin: 0 15vw;
        padding: 4em 3em;
        grid-gap: 6em;
        gap: 6em;
        width: 50%;
    }

}


@media screen and (max-width: 376px) {                         /*  iPhone X */

    .techs {
        width: 65%;
        padding-top: 2em;
        margin: 0 12vw;
        padding-bottom: 2em;
    }
    .people {
        margin: 0 15vw;
        padding: 4em 1em;
        grid-gap: 6em;
        gap: 6em;
        width: 50%;
    }

}

