*{
    margin: 0;
    padding: 0;
    background-color: #fff2ea;
    scroll-behavior: smooth;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 80%;
    padding-top: 8em;
    margin: 0 14vw;
}

.people{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 80%;
    padding-top: 4em;
    margin: 0 14vw;
}