.platform{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
}
.plat-left{
    width: 30%;
    height: auto;
    padding-left: 15em;
}
.plat-right{
    width: 30%;
    height: auto;
}
.platform-image{
    width: 540px;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.plat-left h1{
    font-size: 3em;
}
.plat-left p{
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 1em;
    color: rgb(131, 131, 131);
    padding: 1em 0;
}
.btn-plat{
    margin-top: 2.5em;
    color: rgb(20, 20, 20);
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    padding: 1em 3.7em;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s;
    border: 2px solid rgb(20, 20, 20);
}
.btn-plat:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    transition: all smooth;
    border: 2px rgb(20, 20, 20) solid;
}