.platform{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
    margin: 0 15vw;

}
.plat-left{
    width: 45%;
    height: auto;
}
.plat-right{
    width: 55%;
    height: auto;
}
.platform-image{
    width: 540px;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.plat-left h1{
    font-size: 3em;
    width: 9em;
}
.plat-left p{
    width: 25em;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 1em;
    color: rgb(131, 131, 131);
    padding: 1em 0;
}
.btn-plat{
    margin-top: 2.5em;
    color: rgb(20, 20, 20);
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    padding: 1em 3.7em;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s;
    border: 2px solid rgb(20, 20, 20);
}
.btn-plat:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    transition: all smooth;
    border: 2px rgb(20, 20, 20) solid;
}

@media screen and (max-width: 1367px) { 
    .plat-left h1{
        font-size: 2.2em;
        width: 7em;
    }
    .plat-left p{
        width: 20em;
    }
    .btn-plat {
        margin-top: 1em;
    }
}


@media screen and (max-width: 1024px) {                         /*  iPad Pro */

    .platform{
        height: 400px;
    }
    .plat-left h1{
        width: 30%;
        font-size: 2em;
        width: 7em;
    }
    .plat-left p{
        font-size: 0.8em;
        width: 20em;
    }
    .plat-right{
        width: 70%;
    }
    .platform-image{
        margin-top: 0.5em;
        width: 430px;
        height: auto;
    }
    .plat-left button{
        padding: 0.8em 3em;
    }

}

@media screen and (max-width: 769px) {                         /*  iPad */

    .platform{
        margin: 0 10vw;
        height: 350px;
    }
    .plat-left h1 {
        font-size: 1.5em;
    }
    .plat-left p {
        font-size: 0.7em;
    }
    .platform-image {
        margin-top: 0.5em;
        width: 365px;
        height: auto;
    }
}


@media screen and (max-width: 500px) {                         /*  iPhone X */

    .platform {
        margin: 0 8vw;
        height: 250px;
    }
    .plat-left h1 {
        font-size: 1.2em;
    }
    .plat-left p {
        font-size: 0.5em;
        width: 28vw;
        line-height: 1.7em;
    }
    .plat-left button {
        display: none;
    }
    .platform-image {
        margin-top: 0.5em;
        margin-left: 0.5em;
        width: 15em;
        height: auto;
    }
}