.footer{
    margin-top: 15em;
    width: 100%;
    height: 350px;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
}
.footer-left{
    width: 30%;
    height: auto;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.footer-left ul{
    display: flex;
    flex-direction: column;
    width: 10vw;
    padding-left: 15em;
    padding-top: 2em;
}
.footer-left li{
    padding: 0.3em 0;
}
.footer-left li a{
    padding: 0.3em;
    float: left;
}

.footer-right{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.contact-info{
    width: 30%;
    height: auto;
    margin: 3em 7em;
}

.contact-info h1{
    font-size: 3em;
    padding-bottom: 1em;
}
.contact-info p{
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    line-height: 2.3em;
}


.social-media{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    position:relative;
}

.social-icons{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3.5em;
}


@media screen and (max-width: 1440px) {
    
    .footer-left ul{
        padding-left: 10em;
        padding-top: 2em;
    }
}

@media screen and (max-width: 1420px) {
    .footer-left li{
        width: 10em;
    }
}

@media screen and (max-width: 1370px) {
    .footer-left ul{
        padding-left: 8em;
        padding-top: 2em;
    }
}