.pro{
    width: 80%;
    margin: 0 15vw;
    padding-top: 3em;
}
.product{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 69px;
    display: flex;
}
.number{
    width: 15%;
    height: 65px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    display: flex;
    flex-direction: row;
}
.number p{  
    float: right;
    padding: 1.5em 1em 1.5em 4em;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.grey{
    color: grey
}

.space{
    width: 72%;
    height: 65px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    flex-direction: row;
}
.product-text{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.text-left{
    width: 15%;
    border-right: solid 2px;
    padding: 3.2em 0;
}
.text-left p{
    width: 140px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}
.text-right{
    width: auto;
    height: auto;
}
.text-right h1{
    width: 365px;
    padding: 0.5em 0 0 1em;
    font-family: 'Roboto Slab', serif;
    color: rgb(32, 32, 32);
}


.product-pic{
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}
.picture{
    width: auto;
    height: auto;
}
.product-image{
    width: 543px;
    height: 475px;
    border-right: solid 2px;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.text-more{
    width: 50%;
    height: auto;
}

.text-more h2{
    width: 10em;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    color: rgb(32, 32, 32);
    padding: 0.5em 1em;
    line-height: 1.2em;
}

.text-more p{
    width: 24em;
    font-size: 1em;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0 1em 0.5em 3em;
}

.text-more button{
    margin: 3em ;
    color: rgb(20, 20, 20);
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    padding: 1em 3.7em;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s;
    border: 2px solid rgb(20, 20, 20);
}
.text-more button:hover{
    background-color: rgb(20, 20, 20);
    color: white;
    transition: all smooth;
    border: 2px rgb(20, 20, 20) solid;
}


@media screen and (max-width: 1367px) {
    .text-right h1{
        font-size: 3em;
    }
    .text-left p{
        font-size: 1em;
    }
    .text-more h2{
        font-size: 2.2em;
    }
    .text-more p{
        font-size: 1em;
        width: 20em;
        padding: 0 1em 0.5em 2.5em;
    }

    .text-more button{
        margin: 2.5em;
    }    
}

@media screen and (max-width: 1024px) {                         /*  iPad Pro */

    .red-block{
        display: none;
    }
    .product-text{
        height: 250px;
    }
    .number p {
        float: left;
        padding: 1.5em 1em 1.5em 1em;
    }
    .text-left p {
        font-size: 0.8em;
        width: 9em;
    }
    .text-right h1 {
        font-size: 2em;
        width: 5em;
        padding: 1.3em 0 0 1em;
    }
    .product-image {
        width: 410px;
        height: 340px;
    }
    .text-more h2 {
        font-size: 1.7em;
    }
    .text-more p {
        font-size: 0.8em;
        width: 20em;
        padding: 0 1em 0.5em 2.3em;
    }
    .text-more button{
        padding: 0.8em 3em;
        margin: 1.8em;
    }
    .product-pic{
        margin-bottom: 0;
        height: 400px;
    }
}

@media screen and (max-width: 769px) {                         /*  iPad */

    .pro{
        margin: 0 10vw;
        width: 85%;
    }
    .number{
        width: 20%;
    }
    .text-left{
        width: 20%;
    }
    .product-image {
        width: 325px;
        height: 275px;
    }
    .text-more h2 {
        font-size: 1.5em;
    }
    .text-more p {
        font-size: 0.7em;
    }
    .text-more button {
        padding: 0.8em 3em;
        margin: 1.5em;
    }
    .product-pic {
        margin-bottom: 0;
        height: 300px;
    }
        
}


@media screen and (max-width: 500px) {                         /*  iPhone X */

    .pro {
        margin: 0 8vw;
        width: 85%;
    }
    .number {
        width: 50%;
    }
    .space{
        width: 50%;
    }
    .text-left {
        width: 50%;
    }
    .text-right {
        width: 50%;
    }
    .text-right h1{
        font-size: 1.7em;
    }
    .product-image{
        width: 99.5%;
        height: 70%;
        border-right: 2px solid black;
    }
    .picture {
        width: 50%;
    }
    .text-more {
        width: 50%;
    }

    .text-more h2 {
        font-size: 1.1em;
    }
    .text-more p {
        font-size: 0.5em;
    }
    .text-more button {
        display: none;
    }
    .product-pic {
        margin-bottom: 0;
        height: 220px;
    }
}
